.dockpanel2  td {
    border: 2px solid #BBBBBB;
    padding: 3px;
}

.airlinePanel .top {
    border: 2px solid #BBBBBB;
    padding: 3px;
}
.gwt-Label{
    font-size: 100%;
    font-weight: normal;
    color:black;
    padding:5px;
    margin:5px;
}

